<article>
  <nav>
    <a routerLink='/home'>Home</a> |
    <a routerLink='/about'>About</a> |
    <a routerLink='/contact'>Contact</a> 
  </nav>
  <h2>Welcome {{username}} </h2>
  <p>One plus two equals {{1+2}}</p>
  <h4>Review Exercise</h4>
  <app-data [buttonLabel]='label' (dataEvent)='handleDataEvent($event)' ></app-data>
  <p>Current values: id is {{id}} category is {{category}}</p>
  <ul>
    <li *ngFor='let item of products; index as i'>{{item.name}} {{item.price | currency}}</li>
  </ul>

  <app-home></app-home>
  <app-about [stamp]='timestamp' (myEvent)='handleMyEvent($event)'></app-about>
  <app-contact></app-contact>
  <hr/>
  <router-outlet></router-outlet>
<!-- ngContent will only render if there is content - avoid empty nested tags -->
  <aside *ngIf='agreeFlag'>
    <button id='btnAgree' (click)='handleAgree()'>Agree {{agreeFlag}}</button>
  </aside>
</article>
